<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

  <!-- Declare a content extension that renders the contents of a properties file -->
  <extension 
         point="org.eclipse.ui.navigator.navigatorContent">
         
      <navigatorContent 
            id="org.eclipse.ui.examples.navigator.propertiesContent" 
            name="Properties File Contents"
            contentProvider="org.eclipse.ui.android.sorted.res.NodeContentProvider"
            labelProvider="org.eclipse.ui.android.sorted.res.NodeLabelProvider"
            activeByDefault="true"
            priority="normal" >
         <triggerPoints>
         	<or>
               <instanceof value="org.eclipse.core.resources.IResource"/>
			   <instanceof value="org.eclipse.ui.android.sorted.res.data.AbstractNode"/>
			</or>
         </triggerPoints>
         <possibleChildren>
            <or>
				<instanceof value="org.eclipse.core.resources.IResource"/>
              	<instanceof value="org.eclipse.ui.android.sorted.res.data.AbstractNode"/> 
            </or>
         </possibleChildren>
         <actionProvider
               class="org.eclipse.ui.android.sorted.res.NodeActionProvider"
               id="org.eclipse.ui.examples.navigator.NodeActionProvider.OpenProvidor">
         </actionProvider>
      </navigatorContent>
   </extension>
   
   
   <!-- Bind the Properties content extension to the viewer -->
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <contentExtension pattern="org.eclipse.ui.examples.navigator.propertiesContent"/>
         </includes>
      </viewerContentBinding>
   </extension>
  
</plugin>
